<div id="<%= dom_id house %>">
  <p>
    <strong>Name:</strong>
    <%= house.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= house.address %>
  </p>

  <p>
    <strong>Picture:</strong>
    <%= image_tag(house.picture, :width => 100, :height => 100) %>
  </p>

</div>
